<div class="main-panel">
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 card">
                <div class="header">
                  <h4 class="title">Modification</h4>
                </div>
                <div class="content">
                  <form>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="name"> UserName</label>
                                <input type="text" class="form-control"
                                id="Username"  placeholder="name" name="Username" [(ngModel)]="user.username"
                                name="Username"
                                >
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="email">Email </label>
                                <input type="text" class="form-control"  placeholder="email" name="email" [(ngModel)]="user.email"
                                name="email">
                            </div>
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                          <button type="reset" (click)="onCancel()"
                            class="btn btn-secondary btn-fill float-right">Annuler</button>
                            <button  (click)="updateEmployee()" class="btn btn-info btn-fill float-right">Modifier</button>

                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <br>
                    </form>

                        </div>
                      </div>
                    </div>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>







