<div  class="content">
      
    <div class="ct-chart">
      <div class="table-full-width">
        
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th class="text-center"> </th>
              <th class="text-center"> Username</th>
              <th class="text-center"> Email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users ">
              <td class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="bi bi-person"></i>
              </td>
              <td class="text-center">{{user?.username}}</td>
              <td class="text-center">{{user?.email}}</td>
            </tr>
          </tbody>
        </table>
        <div class="footer">
    
        
      </div>
    </div>
  </div>

</div>